<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Payment Plan</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }

        h1 {
            color: #2c3e50;
            margin-bottom: 20px;
        }

        form {
            width: 50%;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            overflow: hidden;
            padding: 20px;
        }

        label {
            color: #3498db;
            margin-bottom: 5px;
            display: block;
        }

        input, select {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            box-sizing: border-box;
            border: 1px solid #ecf0f1;
            border-radius: 5px;
        }

        button {
            background-color: #3498db;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #2980b9;
        }
    </style>
</head>

<body>
    <h1>Create New Payment Plan</h1>

    <form action="/payment-plans" method="POST">
        <label for="name">Plan Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="duration">Duration (months):</label>
        <input type="number" id="duration" name="duration" required>

        <label for="memberType">Member Type:</label>
        <select id="memberType" name="memberType" required>
            <% memberTypes.forEach(memberType => { %>
                <option value="<%= memberType._id %>"><%= memberType.name %></option>
            <% }); %>
        </select>

        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" required readonly>

        <button type="submit">Create Payment Plan</button>
    </form>

    <script>
        document.getElementById('duration').addEventListener('input', function() {
            const duration = parseInt(this.value);
            const memberTypeSelect = document.getElementById('memberType');
            const selectedMemberType = memberTypeSelect.options[memberTypeSelect.selectedIndex];
            const memberTypeAmount = parseInt(selectedMemberType.getAttribute('data-amount'));

            const amountInput = document.getElementById('amount');
            amountInput.value = duration * memberTypeAmount;
        });
    </script>
</body>

</html>
